### Mariam Gasoyan
# Homework 2

http://books.toscrape.com/catalogue/page-1.html

In [1]:
import requests
from scrapy.http import TextResponse
import time
import re
from word2number import w2n
from statistics import mode
import re

## Part 1.

In [2]:
all_urls = ['http://books.toscrape.com/catalogue/page-{}.html'.format(i) for i in range(1,51)]
print(all_urls[0], '\n', all_urls[-1])

http://books.toscrape.com/catalogue/page-1.html
 http://books.toscrape.com/catalogue/page-50.html

In [3]:
response = requests.get(all_urls[0])

In [4]:
response.url

'http://books.toscrape.com/catalogue/page-1.html'

In [5]:
response.status_code

200

### CSS approach

#### Scraping all the book Titles (without functions)

In [6]:
all_books_css_1 = []
for url in all_urls:
    response = requests.get(url)
    page = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    books = page.css('a::attr(title)').extract()
    all_books_css_1.extend(books)
    time.sleep(1)

In [7]:
all_books_css_1[990:1000]

["Bridget Jones's Diary (Bridget Jones #1)",
 'Bounty (Colorado Mountain #7)',
 'Blood Defense (Samantha Brinkman #1)',
 'Bleach, Vol. 1: Strawberry and the Soul Reapers (Bleach #1)',
 'Beyond Good and Evil',
 "Alice in Wonderland (Alice's Adventures in Wonderland #1)",
 'Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)',
 "A Spy's Devotion (The Regency Spies of London #1)",
 "1st to Die (Women's Murder Club #1)",
 '1,000 Places to See Before You Die']

#### With a function

In [8]:
def TitleScraper_css(url):
    response = requests.get(url)
    page = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    books = page.css('a::attr(title)').extract()
    return books

In [9]:
all_books_css_2 = []
for url in all_urls:
    titles = TitleScraper_css(url)
    all_books_css_2.extend(titles)
    time.sleep(1)

In [10]:
all_books_css_2[990:1000]

["Bridget Jones's Diary (Bridget Jones #1)",
 'Bounty (Colorado Mountain #7)',
 'Blood Defense (Samantha Brinkman #1)',
 'Bleach, Vol. 1: Strawberry and the Soul Reapers (Bleach #1)',
 'Beyond Good and Evil',
 "Alice in Wonderland (Alice's Adventures in Wonderland #1)",
 'Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)',
 "A Spy's Devotion (The Regency Spies of London #1)",
 "1st to Die (Women's Murder Club #1)",
 '1,000 Places to See Before You Die']

#### Prices of the books (without functions)

In [11]:
all_prices_css1 = []
for url in all_urls:
    response = requests.get(url)
    page = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    prices = page.css("p[class='price_color']::text").extract()
    all_prices_css1.extend(prices)
    time.sleep(2)

In [12]:
len(all_prices_css1)

1000

In [13]:
for i in range(len(all_prices_css1)):    
    all_prices_css1[i] = float(all_prices_css1[i].replace('Â£',''))

In [14]:
all_prices_css1[:10]

[51.77, 53.74, 50.1, 47.82, 54.23, 22.65, 33.34, 17.93, 22.6, 52.15]

#### With a function

In [15]:
def PriceScraper_css(url):
    response = requests.get(url)
    page = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    prices = page.css("p[class='price_color']::text").extract()
    return prices

In [16]:
all_prices_css2 = []
for url in all_urls:
    price_list = PriceScraper_css(url)
    all_prices_css2.extend(price_list)
    time.sleep(2)

In [17]:
all_prices_css2[:10]

['Â£51.77',
 'Â£53.74',
 'Â£50.10',
 'Â£47.82',
 'Â£54.23',
 'Â£22.65',
 'Â£33.34',
 'Â£17.93',
 'Â£22.60',
 'Â£52.15']

In [18]:
for i in range(len(all_prices_css1)):    
    all_prices_css2[i] = float(all_prices_css2[i].replace('Â£',''))

In [19]:
all_prices_css2[:10]

[51.77, 53.74, 50.1, 47.82, 54.23, 22.65, 33.34, 17.93, 22.6, 52.15]

#### Ratings of the books (without functions)

In [20]:
ratings = []

In [21]:
response = requests.get(all_urls[0])
page = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
page_draft = page.css("p").extract()

In [22]:
ratings_draft = []

In [23]:
for i in range(len(page_draft)):
    ratings_draft.extend(re.findall('star-rating .....', page_draft[i]))

In [24]:
ratings_draft

['star-rating Three',
 'star-rating One">',
 'star-rating One">',
 'star-rating Four"',
 'star-rating Five"',
 'star-rating One">',
 'star-rating Four"',
 'star-rating Three',
 'star-rating Four"',
 'star-rating One">',
 'star-rating Two">',
 'star-rating Four"',
 'star-rating Five"',
 'star-rating Five"',
 'star-rating Five"',
 'star-rating Three',
 'star-rating One">',
 'star-rating One">',
 'star-rating Two">',
 'star-rating Two">']

In [25]:
for r in range(len(ratings_draft)):
    ratings.append(ratings_draft[r][12:].replace('"','').replace('>',''))
ratings

['Three',
 'One',
 'One',
 'Four',
 'Five',
 'One',
 'Four',
 'Three',
 'Four',
 'One',
 'Two',
 'Four',
 'Five',
 'Five',
 'Five',
 'Three',
 'One',
 'One',
 'Two',
 'Two']

#### With a function

In [26]:
def RatingScraper_css(url):
    ratings = []
    response = requests.get(url)
    page = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    page_draft = page.css("p").extract()
    ratings_draft = []
    for i in range(len(page_draft)):
        ratings_draft.extend(re.findall('star-rating .....', page_draft[i]))
    for r in range(len(ratings_draft)):
        ratings.append(ratings_draft[r][12:].replace('"','').replace('>',''))
    return ratings

In [27]:
all_ratings_css = []

for url in all_urls:
    curr_page_ratings = RatingScraper_css(url)
    all_ratings_css.extend(curr_page_ratings)
    time.sleep(2)
    
print(len(all_ratings_css))
print(all_ratings_css[550:555])

1000
['Two', 'Four', 'One', 'Five', 'One']

### Xpath approach

#### Extracting Titles with Xpath

In [28]:
all_books_xpath = []

In [29]:
def TitleScraper_xpath(url):
    response = requests.get(url)
    response = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    books = response.xpath('//a/@title').extract()
    return books

In [30]:
for url in all_urls:
    all_books_xpath.extend(TitleScraper_xpath(url))

In [31]:
all_books_xpath == all_books_css_1 == all_books_css_2

True

#### Prices

In [32]:
all_prices_xpath = []

In [33]:
def PriceScraper_xpath(url):
    response = requests.get(url)
    response = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    prices = response.xpath('//p[@class="price_color"]/text()').extract()
    return prices

In [34]:
for url in all_urls:
    all_prices_xpath.extend(PriceScraper_xpath(url))

In [35]:
all_prices_xpath[:10]

['Â£51.77',
 'Â£53.74',
 'Â£50.10',
 'Â£47.82',
 'Â£54.23',
 'Â£22.65',
 'Â£33.34',
 'Â£17.93',
 'Â£22.60',
 'Â£52.15']

In [36]:
for i in range(len(all_prices_xpath)):
    all_prices_xpath[i] = float(all_prices_xpath[i].replace('Â£',''))

In [37]:
all_prices_xpath[:10]

[51.77, 53.74, 50.1, 47.82, 54.23, 22.65, 33.34, 17.93, 22.6, 52.15]

In [38]:
all_prices_xpath == all_prices_css1 == all_prices_css2

True

#### Ratings

In [39]:
all_ratings_xpath = []

In [40]:
def RatingScraper(url):
    ratings = []
    response = requests.get(url)
    page = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    ratings_draft = page.xpath('//article/p/@class').extract()
    for r in range(len(ratings_draft)):
        ratings.append(ratings_draft[r][12:].replace('"','').replace('>',''))
    return ratings

In [41]:
for url in all_urls:
    curr_page_ratings = RatingScraper(url)
    all_ratings_xpath.extend(curr_page_ratings)
    #time.sleep(2)

In [42]:
all_ratings_xpath == all_ratings_css

True

In [43]:
all_ratings_num = []
for r in all_ratings_xpath:
    num = w2n.word_to_num(r)
    all_ratings_num.append(num)

In [44]:
print(all_ratings_xpath[:10])
print(all_ratings_num[:10], type(all_ratings_num[0]))

['Three', 'One', 'One', 'Four', 'Five', 'One', 'Four', 'Three', 'Four', 'One']
[3, 1, 1, 4, 5, 1, 4, 3, 4, 1] <class 'int'>

## Part 2

#### a) Most popular rating:
Answer: most popular (most frequent) rating: "One"
        <br> average rating ~ 2.92

In [45]:
print(mode(all_ratings_num))
print(mode(all_ratings_xpath))

1
One

Average rating:

In [46]:
sum(all_ratings_num)/len(all_ratings_num)

2.923

#### b) 	How	many books on the website	have that rating? 
Answer: 226

In [47]:
all_ratings_xpath.count('One')

226

#### c) Average price of 'one-star' books
Answer: 34.56

In [48]:
indices = []
for i in range(len(all_ratings_num)):
    if all_ratings_num[i]== 1:
        indices.append(i)

In [49]:
len(indices)

226

In [50]:
sum_of_oneStars = 0

for i in indices:
    sum_of_oneStars += all_prices_xpath[i]

In [51]:
mean_price = sum_of_oneStars/len(indices)
mean_price

34.5611946902655

## Part 3

In [52]:
def Book_URL_Scraper(url):
    response = requests.get(url)
    response = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    url_list = response.xpath('//h3/a/@href').extract()
    return url_list

In [53]:
all_book_URLs_draft = []

In [54]:
for url in all_urls:
    x = Book_URL_Scraper(url)
    all_book_URLs_draft.extend(x)
    time.sleep(2)

In [55]:
all_book_URLs_draft[:5]

['a-light-in-the-attic_1000/index.html',
 'tipping-the-velvet_999/index.html',
 'soumission_998/index.html',
 'sharp-objects_997/index.html',
 'sapiens-a-brief-history-of-humankind_996/index.html']

In [56]:
all_book_URLs = []
for url in all_book_URLs_draft:
    all_book_URLs.append("http://books.toscrape.com/catalogue/" + url)

In [57]:
all_book_URLs[:3]

['http://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html',
 'http://books.toscrape.com/catalogue/tipping-the-velvet_999/index.html',
 'http://books.toscrape.com/catalogue/soumission_998/index.html']

In [58]:
def DescScraper(url):
    response = requests.get(url)
    response = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    desc_list = response.xpath('//article/p/text()').extract()
    return desc_list[0]

In [59]:
all_book_desc = []

In [60]:
for url in all_book_URLs:
    x = DescScraper(url)
    all_book_desc.append(x)

In [61]:
all_book_desc[:2]

["It's hard to imagine a world without A Light in the Attic. This now-classic collection of poetry and drawings from Shel Silverstein celebrates its 20th anniversary with this special edition. Silverstein's humorous and creative verse can amuse the dowdiest of readers. Lemon-faced adults and fidgety kids sit still and read these rhythmic words and laugh and smile and love th It's hard to imagine a world without A Light in the Attic. This now-classic collection of poetry and drawings from Shel Silverstein celebrates its 20th anniversary with this special edition. Silverstein's humorous and creative verse can amuse the dowdiest of readers. Lemon-faced adults and fidgety kids sit still and read these rhythmic words and laugh and smile and love that Silverstein. Need proof of his genius? RockabyeRockabye baby, in the treetopDon't you know a treetopIs no safe place to rock?And who put you up there,And your cradle, too?Baby, I think someone down here'sGot it in for you. Shel, you never sounded so good. ...more",
 '"Erotic and absorbing...Written with starling power."--"The New York Times Book Review " Nan King, an oyster girl, is captivated by the music hall phenomenon Kitty Butler, a male impersonator extraordinaire treading the boards in Canterbury. Through a friend at the box office, Nan manages to visit all her shows and finally meet her heroine. Soon after, she becomes Kitty\'s "Erotic and absorbing...Written with starling power."--"The New York Times Book Review " Nan King, an oyster girl, is captivated by the music hall phenomenon Kitty Butler, a male impersonator extraordinaire treading the boards in Canterbury. Through a friend at the box office, Nan manages to visit all her shows and finally meet her heroine. Soon after, she becomes Kitty\'s dresser and the two head for the bright lights of Leicester Square where they begin a glittering career as music-hall stars in an all-singing and dancing double act. At the same time, behind closed doors, they admit their attraction to each other and their affair begins. ...more']

In [62]:
len(all_book_desc)

1000

## Part 4

#### a)	How	many	books	have	a	numeric	character	in	title?
  Answer: 365

In [63]:
digit_count_list = []

In [64]:
for title in all_books_xpath:
    nums = re.findall('\d*', title)
    for num in nums:
        if len(num) > 0:
            digit_count_list.append(title)

In [65]:
print(len(set(digit_count_list))) # Number of book titles containing numeric characters
print(len(digit_count_list)) # Amount of numbers in all titles

365
468

#### b)	How	many	books	have	a	year	in	title?
Answer: 8

In [66]:
books = []

In [67]:
for book in all_books_xpath:
    year = re.findall('\d\d\d\d', book)
    for i in year:
        if len(i) == 4:
            books.append(book)

In [68]:
print(len(set(books))) # Number of titles that contain year numbers
print(len(books)) # Total number of year numbers in the titles

books

8
12

['The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Maude (1883-1993):She Grew Up with the country',
 'Maude (1883-1993):She Grew Up with the country',
 'Untitled Collection: Sabbath Poems 2014',
 'Tuesday Nights in 1980',
 '1491: New Revelations of the Americas Before Columbus',
 'Ms. Marvel, Vol. 1: No Normal (Ms. Marvel (2014-2015) #1)',
 'Ms. Marvel, Vol. 1: No Normal (Ms. Marvel (2014-2015) #1)']

Because there are 4 titles that contain 2 year numbers

#### c)	How	many	books	have	an	enumerated	character	(starting	with	#	and	 followed	by	a	number)	in	title?
Answer: 313

In [69]:
enumeration_count_list = []

In [70]:
for title in all_books_xpath:
    hashs = re.findall('\#\d+', title)
    for h in hashs:
        if len(h) >= 2:
            enumeration_count_list.append(title)

In [71]:
len(set(enumeration_count_list))

313