In [1]:
# import wikipedia
# import re
# import time
# import requests
# import numpy as np
# import pandas as pd
# from textblob import TextBlob, Word
# from scrapy.http import TextResponse
# import nltk
# from nltk.corpus import stopwords, wordnet
# from nltk.tokenize import sent_tokenize, word_tokenize
# from nltk.stem import PorterStemmer, WordNetLemmatizer
# from sklearn.feature_extraction.text import TfidfVectorizer
# from selenium import webdriver
# import selenium.webdriver.common.keys as Keys

In [38]:
from scrapy.http import TextResponse
import re
import time
import requests
import numpy as np
import pandas as pd
from datetime import datetime

In [74]:
urls = ['https://www.celebritynetworth.com/richest-businessmen/ceos/mark-zuckerberg-net-worth/', 
        'https://www.celebritynetworth.com/richest-businessmen/richest-billionaires/jeffrey-epstein-net-worth/', 
        'https://www.celebritynetworth.com/richest-celebrities/models/drita-davanzo-net-worth/', 
        'https://www.celebritynetworth.com/richest-politicians/presidents/barack-obama-net-worth/',
        'https://www.celebritynetworth.com/richest-athletes/richest-baseball/curt-schilling-net-worth/',
        'https://www.celebritynetworth.com/richest-politicians/royals/queen-elizabeth-of-england-net-worth/',
        'https://www.celebritynetworth.com/richest-politicians/sheiks/sheikh-of-qatar-net-worth/',
        'https://www.celebritynetworth.com/richest-celebrities/richest-rappers/jay-z-net-worth/',
        'https://www.celebritynetworth.com/richest-athletes/skateboarders/rob-dyrdek-net-worth/',
        'https://www.celebritynetworth.com/richest-businessmen/producers/chris-evans-net-worth-2/']

In [75]:
def into_df(url):
    response = requests.get(url)
    response = TextResponse(url = response.url, body = response.text, encoding = "utf-8")
    df = pd.read_html(url)[0].transpose()
    df.columns = df.iloc[0,:]
    df = df.iloc[1:,:]
    df['Category'] = url.split('/')[3][8:]
    df['Subcategory'] = url.split('/')[4]
    df['Name_Surname'] = url.split('/')[5].replace('net-worth', '').replace('-', ' ').strip()
    return df

In [122]:
dfs = [into_df(url) for url in urls]

In [123]:
df = pd.concat(dfs, sort=False)

In [124]:
df = df.set_index(['Category', 'Subcategory', 'Name_Surname'])

In [125]:
del(df['Last Updated:'])

In [126]:
df.columns = [col.replace(" ", "_").replace(":", "") for col in df.columns]

## Net Worth

In [127]:
df.Net_Worth = df.Net_Worth.apply(lambda x: int(x.replace("$", "").replace(" Million", "").replace(" Billion", "000")))

In [128]:
df = df.rename(columns={'Net_Worth': 'Net_Worth_M'})

## Salary

In [129]:
#df.Salary = df.Salary.fillna('0')

In [130]:
df.Salary = df.Salary.apply(lambda x: int(x.replace("$", "").replace('Dollar Per Year', '').replace(" ", "").replace("Thousand", "000").replace("Million", "000000")))

## Height

In [131]:
df.Height = df.Height.fillna('0.00')

In [132]:
df.Height = df.Height.apply(lambda x: round(float(re.findall('\d\.\d+', x)[0]), 2))

## Age

In [92]:
#df.Date_of_Birth = df.Date_of_Birth.fillna('(00')

In [93]:
df['Age'] = df.Date_of_Birth.apply(lambda x: int(re.findall('\(\d*', x)[0][1:]))

In [134]:
#df.Date_of_Birth.apply(lambda x: re.findall('\w+ \d\d, \d\d\d\d', x)[0])

In [133]:
df

                                                             Net_Worth_M  \
Category    Subcategory          Name_Surname
businessmen ceos                 mark zuckerberg                   50000
            richest-billionaires jeffrey epstein                     500
celebrities models               drita davanzo                         3
politicians presidents           barack obama                         40
athletes    richest-baseball     curt schilling                        1
politicians royals               queen elizabeth of england          600
            sheiks               sheikh of qatar                    2000
celebrities richest-rappers      jay z                              1000
athletes    skateboarders        rob dyrdek                           50
businessmen producers            chris evans  2                      120

                                                             Salary  \
Category    Subcategory          Name_Surname
businessmen ceos                 mark zuckerberg                  1
            richest-billionaires jeffrey epstein                  0
celebrities models               drita davanzo                    0
politicians presidents           barack obama                400000
athletes    richest-baseball     curt schilling                   0
politicians royals               queen elizabeth of england       0
            sheiks               sheikh of qatar                  0
celebrities richest-rappers      jay z                            0
athletes    skateboarders        rob dyrdek                       0
businessmen producers            chris evans  2                   0

                                                                                          Date_of_Birth  \
Category    Subcategory          Name_Surname
businessmen ceos                 mark zuckerberg                            May 14, 1984 (35 years old)
            richest-billionaires jeffrey epstein             Jan 20, 1953 - Aug 10, 2019 (66 years old)
celebrities models               drita davanzo                                                      NaN
politicians presidents           barack obama                                Aug 4, 1961 (58 years old)
athletes    richest-baseball     curt schilling                             Nov 14, 1966 (52 years old)
politicians royals               queen elizabeth of england                 Apr 21, 1926 (93 years old)
            sheiks               sheikh of qatar                             Jan 1, 1952 (67 years old)
celebrities richest-rappers      jay z                                       Dec 4, 1969 (49 years old)
athletes    skateboarders        rob dyrdek                                 Jun 28, 1974 (45 years old)
businessmen producers            chris evans  2                              Apr 1, 1966 (53 years old)

                                                             Gender  Height  \
Category    Subcategory          Name_Surname
businessmen ceos                 mark zuckerberg               Male    1.75
            richest-billionaires jeffrey epstein               Male    0.00
celebrities models               drita davanzo               Female    0.00
politicians presidents           barack obama                  Male    1.85
athletes    richest-baseball     curt schilling                Male    1.93
politicians royals               queen elizabeth of england  Female    1.63
            sheiks               sheikh of qatar               Male    0.00
celebrities richest-rappers      jay z                         Male    1.87
athletes    skateboarders        rob dyrdek                    Male    1.70
businessmen producers            chris evans  2                Male    1.88

                                                                                                    Profession  \
Category    Subcategory          Name_Surname
businessmen ceos                 mark zuckerberg                      Programmer, Entrepreneur, Businessperson
            richest-billionaires jeffrey epstein                           Businessperson, Financier, Investor
celebrities models               drita davanzo                                                             NaN
politicians presidents           barack obama                Politician, Lawyer, Writer, Author, Law professor
athletes    richest-baseball     curt schilling                                                Baseball player
politicians royals               queen elizabeth of england                                                NaN
            sheiks               sheikh of qatar                                                    Politician
celebrities richest-rappers      jay z                       Singer, Songwriter, Record producer, Entrepren...
athletes    skateboarders        rob dyrdek                  Skateboarder, Television producer, Screenwrite...
businessmen producers            chris evans  2              Television Producer, Radio producer, Radio per...

                                                                          Nationality
Category    Subcategory          Name_Surname
businessmen ceos                 mark zuckerberg             United States of America
            richest-billionaires jeffrey epstein             United States of America
celebrities models               drita davanzo                                    NaN
politicians presidents           barack obama                United States of America
athletes    richest-baseball     curt schilling              United States of America
politicians royals               queen elizabeth of england            United Kingdom
            sheiks               sheikh of qatar                                Qatar
celebrities richest-rappers      jay z                       United States of America
athletes    skateboarders        rob dyrdek                  United States of America
businessmen producers            chris evans  2                               England